/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #5deaea;
    padding: 10px 20px;
    z-index: 2;
    position: fixed;
    width: 100%;
}
#search {
    padding: 5px;
    border: none;
    border-radius: 3px;
}
#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #5deaea;
}

/* Barra lateral */
#sidebar {
    width: 220px;
    background-color: #000;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    padding-top: 20px;
    z-index: 1;
    transition: transform 0.3s ease;
}
#sidebar ul {
    list-style: none;
    padding: 0;
}
#sidebar ul li a {
    display: block;
    padding: 10px 15px;
    color: #ecf0f1;
    text-decoration: none;
}
#sidebar ul li a:hover {
    background-color: #e0efff;
}

/* Conteúdo principal */
#content {
    margin-top: 80px;
    padding: 20px;
    flex: 1;
    max-width: 800px;
    margin-left: 240px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ecf0f1;
    margin-top: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }
    #sidebar {
        transform: translateX(-100%);
        width: 100%;
    }
    #sidebar.active {
        transform: translateX(0);
    }
    #content {
        margin-left: 0;
        margin-top: 60px;
    }
    footer {
        width: 100%;
    }
}
