/* Estilos CSS globais */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1, footer p {
    margin: 0;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 15px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
h2, h3 {
    color: #007bff;
}
ul {
    list-style: none;
    padding: 0;
}
ul li:before {
    content: "•";
    color: #007bff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.connect img {
    vertical-align: middle;
}
.github-stats img {
    max-width: 100%;
    height: auto;
}
/* Estilos adicionais */
.center {
    text-align: center;
}
.wave {
    width: 30px;
}
.gif-icon {
    width: 35px;
}
/* Estilos para links */
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Estilos para seções */
section {
    margin-bottom: 40px;
}
